@using Entities
@using System.ComponentModel.DataAnnotations

@page "/detail-orderid-{OrderId}"
@rendermode InteractiveServer

<div class="row">
    <div class="col-8">
        <h3>Order detail</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Produkt</th>
                    <th scope="col">Počet</th>
                    <th scope="col">Cena</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in orderItems)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Product</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <h3>Informace o zákazníkovi</h3>
        <div class="col">
            <div class="row">
                <div>Jméno: @customer.FirstName</div>
            </div>
            <div class="row">
                <div>Příjmení: @customer.LastName</div>
            </div>            
            <div class="row">
                <div>Email: @customer.Email</div>
            </div>            
            <div class="row">
                <div>Telefonní čislo: @customer.PhoneNumber</div>
            </div>            
            <div class="row">
                <div>Adresa: @customer.Address</div>
            </div>            
            <div class="row">
                <div>Datum registrace: @customer.RegistrationDate</div>
            </div>
        </div>
    </div>
</div>
