@using Plotly.Blazor;

@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h3>Dashboard</h3>

@if (!_isLoading)
{
    <div class="row">
        <div class="col-8 p-0 chart-wrap upper-blocks" style="border-bottom-width: 2px">
            <div class="bg-info rounded-3">
                <h3 class="m-0 ms-2">Graf objednávek</h3>
            </div>
            <div class="border embed-responsive embed-responsive-21by9">
                @* <PlotlyChart @bind-Config="config" @bind-Layout="layout" @bind-Data="data" /> *@
@*                 @GetOrdersChart() *@
            </div>
        </div>
        <div class="col-4 p-0 chart-wrap upper-blocks" style="border-bottom-width: 2px">
            <div class="bg-warning rounded-3">
                <h3 class="m-0 ms-2">Metriky</h3>
            </div>
            <table class="table table-hover table-bordered" style="margin-top: 100px">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">průměrný počet objednávek za měsíc</th>
                        <td>@avgOrdersValue</td>
                    </tr>
                    <tr>
                        <th scope="row">celkový počet objednávek</th>
                        <td>@totalOrdersCount</td>
                    </tr>
                    <tr>
                        <th scope="row">průměrná cena objednávky</th>
                        <td>@meanOrdersAmount</td>
                    </tr>
                    <tr>
                        <th scope="row">zákazníků se přidalo za poslední měsíc</th>
                        <td>@newCustomersCount</td>
                    </tr>
                    <tr>
                        <th scope="row">pravidelných zákazníků</th>
                        <td>@regularCustomersCount</td>
                    </tr>
                    <tr>
                        <th scope="row">VIP zákazníků</th>
                        <td>@vipCustomersCount</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-12 p-0 chart-wrap upper-blocks, bottom-blocks" style="border-bottom-width: 2px">
            <div class="bg-info rounded-3">
                <h3 class="m-0 ms-2">Graf nových zákazníků za měsíc</h3>
            </div>
            <div class="border embed-responsive embed-responsive-21by9">
@*                 @GetNewCustomersChart() *@
            </div>
        </div>
    </div>

    <div class="row p-0 chart-wrap bottom-blocks">
        <div class="bg-info rounded-3">
            <h3>Produktové trendy</h3>
        </div>
        <div class="col-8">
@*             @GetProductTrendsChart() *@
        </div>
        <div class="col-4 card d-flex flex-row">
            <div class="flex-fill">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="row">populární</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in AppDbContext.Products.Where(p => p.PopularityGroup == Entities.Product.Group.Popular).ToList())
                        {
                        <tr>
                            <td>
                                @item
                                <span class="text-success">
                                    @(" " + GetPopularityDiff(item.Popularity) + "%")
                                </span>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="flex-fill">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="row">neutrální</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in AppDbContext.Products.Where(p => p.PopularityGroup == Entities.Product.Group.Neutral).ToList())
                        {
                            <tr>
                                <td>
                                    @item
                                    <span>
                                        @(" " + GetPopularityDiff(item.Popularity) + "%")
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="flex-fill">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="row">nepopulární</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in AppDbContext.Products.Where(p => p.PopularityGroup == Entities.Product.Group.Unpopular).ToList())
                        {
                            <tr>
                                <td>
                                    @item
                                    <span class="text-danger">
                                        @(" " + GetPopularityDiff(item.Popularity) + "%")
                                    </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}