@using ExtUnit5.Entities;

<EditForm FormName="@FormName" Model="@coupon" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="Code">Kód</label>
        <InputText disabled="true" id="Code" class="form-control" @bind-Value="coupon.Code" />
        <ValidationMessage For="@(() => coupon.Code)" />
        <button @onclick="GenerateCouponeCode">Vygenerovat kód</button>
    </div>

    <div class="form-group">
        <label for="Customer">Zákazník</label>
        <InputSelect @bind-Value="SelectedCustomerId">
            @if (SelectedCustomerId is null)
            {
                <option value="">Not selected</option>
            }
            @foreach (var customer in GetCustomersWithDiscount())
            {
                <option value="@customer.Id">@customer</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => coupon.Customer)" />
    </div>

    <div class="form-group">
        <label for="Product">Produkt</label>
        <InputSelect @bind-Value="SelectedProductId">
            @if (SelectedProductId is null)
            {
                <option value="">Not selected</option>
            }
            @foreach (var product in AppDbContext.Products.ToList())
            {
                <option value="@product.Id">@product</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => coupon.Product)" />
    </div>

    <div class="form-group">
        <label for="Discount">Sleva</label>
        <span class="badge bg-success">@(Math.Round(coupon.Discount * 100, 0)) %</span>
    </div>

    <div class="form-group">
        <label for="Price-with-discount">Cena se slevou</label>
        <span class="badge bg-success">@coupon.PriceWithDiscount</span>
    </div>

    <button type="submit" class="btn btn-primary">Uložit</button>

</EditForm>