@using ExtUnit5.Entities;

<EditForm FormName="@FormName" Model="@coupon" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group my-2">
        <div class="d-flex flex-row">
            <label class="align-content-center me-2" for="Code">Kód</label>
            <div id="Code" class="form-control w-25">
                @coupon.Code
            </div>
            <button type="button" class="btn btn-primary ms-2" @onclick="GenerateCouponeCode">Vygenerovat kód</button>
        </div>
        <div class="alert-danger">@errorMessage</div>
        <ValidationMessage For="@(() => coupon.Code)" />
    </div>

    <div class="form-group my-2">
        <label for="Customer">Zákazník</label>
        <InputSelect class="btn border" @bind-Value="SelectedCustomerId">
            @if (SelectedCustomerId is null)
            {
                <option value="">Not selected</option>
            }
            @foreach (var customer in GetCustomersWithDiscount())
            {
                <option value="@customer.Id">@customer</option>
            }
        </InputSelect>
        @if (SelectedCustomerId is not null)
        {
            <span class="badge bg-success ms-2">@coupon.Customer.CustomerGroup</span>
        }
        <ValidationMessage For="@(() => coupon.Customer)" />
    </div>

    <div class="form-group my-2">
        <label for="Product">Produkt</label>
        <InputSelect class="btn border" @bind-Value="SelectedProductId">
            @if (SelectedProductId is null)
            {
                <option value="">Not selected</option>
            }
            @foreach (var product in AppDbContext.Products.ToList())
            {
                <option value="@product.Id">@product</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => coupon.Product)" />
    </div>

    <div class="form-group my-2 d-flex align-items-center">
        <label for="ExpireDate">Doba platnosti ve dnech</label>
        <InputNumber min="1" max="999" class="form-control ms-2" style="width: 75px" @bind-Value="ExpireInDays"/>
        <ValidationMessage For="@(() => coupon.ExpireDate)"/>
    </div>

    <div class="form-group my-2">
        <label for="Discount">Sleva</label>
        <span class="badge bg-success">@(Math.Round(coupon.Discount * 100, 0)) %</span>
    </div>

    <div class="form-group my-2">
        <label for="Price-with-discount">Cena se slevou</label>
        <span class="badge bg-success">@coupon.PriceWithDiscount</span>
    </div>

    <div class="form-group my-2">
        <label for="Expire-date">Kupon je platný do</label>
        <span class="badge bg-success">@coupon.ExpireDate</span>
    </div>

    <button type="submit" class="btn btn-primary">Uložit</button>

</EditForm>