@using Entities
@using System.ComponentModel.DataAnnotations

@page "/addproduct"
@rendermode InteractiveServer

<h3>Add Product</h3>

<EditForm FormName="AddProduct" Model="@productToAdd" OnValidSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="name">Název</label>
        <InputText id="name" class="form-control" @bind-Value="productToAdd.Name" />
        <ValidationMessage For="@(() => productToAdd.Name)" />
    </div>

    <div class="form-group">
        <label for="category">Kategorie</label>
        <InputSelect id="category" @bind-Value="selectedCategoryId">
            @foreach (Category category in allCategories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => productToAdd.Category)" />
    </div>

    <div class="form-group">
        <label for="description">Popis</label>
        <InputTextArea id="description" class="form-control" @bind-Value="productToAdd.Description" />
        <ValidationMessage For="@(() => productToAdd.Description)" />
    </div>

    <div class="form-group">
        <label for="price">Cena</label>
        <InputNumber id="price" class="form-control" @bind-Value="productToAdd.Price" />
        <ValidationMessage For="@(() => productToAdd.Price)" />
    </div>

    <div class="form-group">
        <label for="stock">Počet skladem</label>
        <InputNumber id="stock" class="form-control" @bind-Value="productToAdd.Stock" />
        <ValidationMessage For="@(() => productToAdd.Stock)" />
    </div>

    <div class="form-group">
        <label for="isActive">Status:</label>
        @if (productToAdd.IsActive)
        {
            <span class="badge bg-success">Aktivní</span>
        }
        else
        {
            <span class="badge bg-secondary">Neaktivní</span>
        }
    </div>

    <button type="submit" class="btn btn-primary">Uložit</button>

</EditForm>