@page "/products"
@rendermode InteractiveServer

<h3>Products</h3>

<div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm d-flex justify-content-end">
        <button class="btn btn-primary" @onclick="RedirectToAddProduct">Nový Produkt</button>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Název</th>
            <th scope="col">Cena</th>
            <th scope="col" style="width:200px">Počet skladem</th>
            <th scope="col" style="width:10px"></th>
            <th scope="col" style="width:10px"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in AllProducts)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>
                    <button class="btn btn-primary" @onclick="@(() => RedirectToEdit(item.Id))">Editovat</button>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="@(() => DeleteProduct(item))">Smazát</button>
                </td>
            </tr>
        }
    </tbody>
</table>
